@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply leading-relaxed;
    font-feature-settings: "kern" 1, "liga" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3 {
    @apply font-medium;
    font-feature-settings: "kern" 1, "liga" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
